* {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  background-image: url('./img/minimalist_backgrounds.png');
  background-repeat: no-repeat;
  background-size: cover;

}

header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  background: #e5e5e5;
}

.navbar ul{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  gap: 0.5rem;

  padding: 0rem 1.5rem;

  list-style-type: none;
}

.navbar ul > li {
  display: grid;
  padding: 0.5rem; 
}

.spacer {
  content: '';
  min-width: 70vw;
}

.logo {
  display: grid;
  place-content: center;
  padding: 0rem 1rem;
}

.item {
  cursor: pointer;
}

.item>a {
  text-decoration: none;
}
.item>a:visited {
  color: black
}
.item>a:link {
  color: black;
}

.item:hover {
  color: #c5c5c5;
}

.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
    margin: none;
}

.about-title {
  padding: 2% 5% 0 5%;
  color: white;
}

.index-name {
  width: 100vw;
  height: 100vh;
  text-align:center; 
  display:table;
}

.index-name h1 {
  display:table-cell;
  vertical-align:middle;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.ul {
  color: white;
  font-size: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
 
}

.card {
  position: relative;
  width: 20%;
  max-width: 20%;
  height: 20%;
  max-height: 20%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.front {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 25vh;
  max-height: 25vh;

}

.back {
  display: flex;
  transform: rotateY(180deg);
  width: 100%;
  max-width: 100%;
  height: 25vh;
  max-height: 25vh;

}

.item {
  display: flex;
  position: relative; 
  max-width: 18%;
  width: 18%;
  max-height: 25vh;
  align-content: center;
  margin: 1%;
}

.item > .active {
  animation: bounce 5s infinite;
}

.item-img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  z-index: 1;
}

.information {
  position: absolute;
  visibility: hidden;
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  padding: 5%;
  top: 0;
  z-index: 2;
}

.information p {
  width: 100%;
  color: white;
  word-break: break-word;
}

.information h3 {
  color: white;
}

.item:hover>.information {
  visibility: visible;
  -webkit-animation: scale-up-ver-bottom 0.2s ease-in 0.01s backwards;
  animation: scale-up-ver-bottom 0.2s ease-in 0.01s backwards;
  background: #52C4C4EE;
}

@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}


 /* Animation for bouncing */
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: ranslate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
} 

